.MangoPickle{
    text-align: center;
}
.MangoPickle h1{
    padding-top: 2%;
    padding: 5px;
    font-weight: 500;
    margin-bottom: 30px;
    display: inline-block;
    border-bottom: 5px solid #0F3D52;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;

}