.MangoPickle{
    text-align: center;
}
.MangoPickle h1{
    padding-top: 2%;
    font-size: 32px;
    font-weight: 500;
    display: inline-block;
    color: rgb(36, 83, 79);
    padding-bottom: 7px;
    border-bottom: 5px solid #0f3d52;
    font-family: 'Roboto Slab', serif;

}